@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Open+Sans&display=swap");

/* COLORS */

$color-grey: #272727;
$color-light-grey: #a4a4a4;
$color-white: #fff;

/* FONTS */
$fonts-primary: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$fonts-secondary: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
